@import './base.css';
@import './fonts.css';
@import 'tailwindcss';
html,
body {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  font-family: sans-serif;
}

.app-wrapper {
  width: 375px;
  min-height: 100vh;
  background-color: #ffffff;
}

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #111f5c;
  --color-secondary: #ffbfcb;
  --color-secondarylight: #ffe3e8;
  --color-lightgray: #d4d4d4;
  --color-light: #d9d9d9;
  --color-mediumgray: #bdbdbd;
  --color-darkgray: #818181;
  --color-lightgray2: #f4f4f4;
  --transition: all 0.3s ease;
}

.titleBold32px {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'GmarketSansBold', sans-serif;
}

.titleBold24px {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'GmarketSansBold', sans-serif;
}

.titleBold20px {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: 'GmarketSansBold', sans-serif;
}

.titleBold16px {
  font-size: 1rem;
  font-weight: 700;
  font-family: 'GmarketSansBold', sans-serif;
}

.titleBold12px {
  font-size: 0.75rem;
  font-weight: 700;
  font-family: 'GmarketSansBold', sans-serif;
}

.bodyMedium24px {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyMedium20px {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyMedium16px {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyMedium14px {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyMedium12px {
  font-size: 0.75rem;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyMedium10px {
  font-size: 0.625em;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyMedium10px2 {
  /* 사실 10.88 이라는 것임!!! (°ロ°) ! */
  font-size: 0.68rem;
  font-weight: 500;
  font-family: 'GmarketSansMedium', sans-serif;
}

.bodyLight16px {
  font-size: 1rem;
  font-weight: 300;
  font-family: 'GmarketSansLight', sans-serif;
}

.bodyLight12px {
  font-size: 0.75rem;
  font-weight: 300;
  font-family: 'GmarketSansLight', sans-serif;
}

.bodyLight8px {
  font-size: 0.5rem;
  font-weight: 300;
  font-family: 'GmarketSansLight', sans-serif;
}
